
<h1>Edit Recipe</h1>

<form class = "form" action ="/<%=id%>/?_method=put" method = "POST">
     
    <div class ="inputParent">
        <label class = "font" for = "title">Recipe Name</label>
        <input class = "input" type = "text" name = "title">
        <label class = "font" for = "img">Image</label>
        <input class = "input" type = "text" name = "img">
        <label class = "font" for = "description">Insert Recipe Description</label>
        <input class = "input" type = "text" name = "description">
        <label class = "font" for = "ingredients">List Ingredients (seperate with a comma",")</label>
        <input class = "input" type = "text" name = "ingredients">
        <label class = "font" for = "instructions">Detail Instructions</label>
        <input class = "input" type = "text" name = "instructions">
        <label class = "font" for = "prepTime">Insert Prep Time</label>
        <input class = "input" type = "text" name = "prepTime">
        <label class = "font" for = "cookTime">Insert Cooking Time</label>
        <input class = "input" type = "text" name = "cookTime">
        <label class = "font" for = "totalTime">Insert Total Time</label>
        <input class = "input" type = "text" name = "totalTime">
        
    </div >
    <div class = "buttonContainer3">
    <input class = " button font submit" type ="submit"/>
    <a class = " button font cancel" href="/">Cancel</a>
    </div>
</form>